*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
/* header */

.bg-header{
	background-image: url('../img/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: white;
}

.our-values{
    background:white;
    height:10vh;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-default{
    background-color: transparent;
    border: none;
    color: white;
}

.carrusel h1{
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}